:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --text-color-hero: #ffffff;
  --bg-color-foother: #2f303a;
  --outside-color: #f5f5f5;
  --team-bg-color: #f5f4fa;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --logo-header-color: #000000;
}

body {
  background-color: var(--primary-bg-color);
  font-family: var(--primary-font);
  color: var(--primary-text-color);
}

/*Шапка*/
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}
.studio-header {
  color: var(--logo-header-color);
}
.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}

.menu {
  list-style: none;
}
.link.current {
  color: var(--accent-color);
}
.header-contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
}
.header-contacts-list {
  list-style: none;
}
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--accent-color);
}

/* Мэйн */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.project-menu-list {
  list-style: none;
}
.project-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: inherit;
  background: var(--team-bg-color);
  cursor: pointer;
}
.project-button:hover,
.project-button:focus {
  color: var(--text-color-hero);
  background: var(--accent-color);
}

.project-list {
  list-style: none;
}
.project-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-list-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* Футер */
.footer {
  background-color: var(--bg-color-foother);
}
.studio-footer {
  color: var(--text-color-hero);
}
.address-city,
.footer-contacts {
  text-decoration: none;
}
.address-list {
  list-style: none;
}
.address-city,
.footer-contacts {
  font-family: var(--primary-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-hero);
}
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}
.address-city:hover,
.address-city:focus {
  color: var(--accent-color);
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}
