:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --text-color-hero: #ffffff;
  --bg-color-foother: #2f303a;
  --outside-color: #f5f5f5;
  --team-bg-color: #f5f4fa;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--primary-bg-color);
  font-family: var(--primary-font);
  color: var(--primary-text-color);
}

/*Шапка*/
.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}
.studio-header {
  color: #000000;
}
.menu .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}
.menu .link:hover {
  color: var(--accent-color);
}
.menu .link:focus {
  color: var(--accent-color);
}
.menu {
  list-style: none;
}
.menu .current-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}
.header-contacts-list .header-contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
}
.header-contacts-list {
  list-style: none;
}
.header-contacts-list .header-contacts-link:hover {
  color: var(--accent-color);
}
.header-contacts-list .header-contacts-link:focus {
  color: var(--accent-color);
}

/*Герой*/
.hero {
  background: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color-hero);
}
.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-color-hero);
  background: var(--accent-color);
  cursor: pointer;
}

/* Наші переваги */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.advantage .advantage-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantage .advantage-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* Чим ми займаємося */
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Наша команда */
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.team .team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team .team-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* Футер */
.footer {
  background: var(--bg-color-foother);
}
.studio-footer {
  color: var(--text-color-hero);
}
.address-list .address-city,
.footer-contacts {
  text-decoration: none;
}
.address-list {
  list-style: none;
}
.address .address-city,
.footer-contacts {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-hero);
}
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}
.address .address-city:hover {
  color: var(--accent-color);
}
.address .address-city:focus {
  color: var(--accent-color);
}
.footer-contacts:hover {
  color: var(--accent-color);
}
.footer-contacts:focus {
  color: var(--accent-color);
}
